html,body { height: 100%; }
a:visited { color: inherit; }
/* SECTIONS COLOR VARS */
:root {
  --black:            #000;
  --grey:             #999;
  --white:            #fff;
  --scirocco:         #ff0000;
  --acqua-alta:       #d1ba01;
  --mose:             #7f5de1;
  --fosgene:          #45db51;
  --tromba-daria:     #ff00ff;
  --sky:              #0098ff;
}
.color-2,
a.color-2 { color: var(--scirocco) }
.color-3,
a.color-3 { color: var(--acqua-alta) }
.color-4,
a.color-4 { color: var(--mose);}
.color-5,
a.color-5 { color: var(--fosgene) }
.color-6,
a.color-6 { color: var(--tromba-daria) }
.color-7,
a.color-7 { color: var(--sky) }
.color-uncategorized,
a.color-uncategorized { color: var(--grey) }

.border-color-2 { border-color: var(--scirocco);}
.border-color-3 { border-color: var(--acqua-alta);}
.border-color-4 { border-color: var(--mose);}
.border-color-5 { border-color: var(--fosgene);}
.border-color-6 { border-color: var(--tromba-daria);}
.border-color-7 { border-color: var(--sky);}
.border-color-uncategorized { border-color: var(--grey);}

.background-color-2 { background-color: var(--scirocco);}
.background-color-3 { background-color: var(--acqua-alta);}
.background-color-4 { background-color: var(--mose);}
.background-color-5 { background-color: var(--fosgene);}
.background-color-6 { background-color: var(--tromba-daria);}
.background-color-7 { background-color: var(--sky);}
.background-color-uncategorized { background-color: var(--grey);}

.mobile-only { display: inline-block !important; }
.desktop-only { display: none !important; }
@media (min-width: 769px) {
  .mobile-only { display: none !important; }
  .desktop-only { display: inline-block !important; }
}

/* header / primary menu */
header#masthead,
footer.site-footer {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white);
  height: 35px;
}
footer.site-footer {
  top: initial;
  bottom: 0;
}
.main-navigation .primary-menu,
.secondary-navigation .secondary-menu {
  list-style: none;
  width: auto;
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 35px;
  z-index: 10;
  transition: opacity 300ms linear;
  opacity: 0;
}
.toggled.main-navigation .primary-menu { opacity: 1 }
.toggled.secondary-navigation .secondary-menu { 
  opacity: 1;
  top: initial;
  bottom: 25px;
}

.main-navigation .primary-menu ul,
.secondary-navigation .secondary-menu ul {
  list-style: none;
  margin: 0;
  max-height: 50vh;
  overflow: overlay;
  padding: 0 20px 0 0;
}
.main-navigation label,
.secondary-navigation label {
  flex: 0 1 auto;
  text-align: center;
  cursor: pointer;
}
.main-navigation .alignright,
#clearAllFilters { 
  flex: 1 0 auto;
  text-align: right;
  font-family: 'Hershey-Noailles-futurab', sans-serif;
  font-size: 17px;
  line-height: 26px;
  display: inline-block;
  color: var(--black);
  transition: color 0.5s, background 0.5s;
  margin: 15px 5px 10px 5px;
  padding: 0px 8px;
  position: fixed;
  right: 10px;
  top: -10px;
  background-color: var(--white);
  border: none;
}
#clearAllFilters {
    top: initial;
    bottom: -5px;
}
.main-navigation .alignright a,
.secondary-navigation .alignright a {
  color: var(--black);
  width: auto;
  float: right;
  cursor: pointer;
  transition: color 0.5s, background 0.5s;
}
.main-navigation .alignright a:hover,
.secondary-navigation .alignright a:hover {
  color: var(--scirocco);
}
.main-navigation label:hover,
.secondary-navigation label:hover {
  background: rgba(255,255,255,1);
}
.main-navigation label,
.secondary-navigation label {
  font-family: 'Hershey-Noailles-futurab', sans-serif;
  font-size: 17px;
  line-height: 26px;
  display: inline-block;
  transition: color 0.5s, background 0.5s;
  margin: 0px 5px 10px 8px;
  padding: 0px 8px;
  box-shadow: 0 0 5px #0007;
  background-color: var(--white);
}
.secondary-navigation .inactive label {
    opacity: 0.25;
    box-shadow: none;
}
.main-navigation [type="checkbox"]:not(:checked),
.main-navigation [type="checkbox"]:checked,
.secondary-navigation [type="checkbox"]:not(:checked),
.secondary-navigation [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.main-navigation .color-2:checked + label { color: var(--white); background-color: var(--scirocco);}
.main-navigation .color-3:checked + label { color: var(--white); background-color: var(--acqua-alta);}
.main-navigation .color-4:checked + label { color: var(--white); background-color: var(--mose);}
.main-navigation .color-5:checked + label { color: var(--white); background-color: var(--fosgene);}
.main-navigation .color-6:checked + label { color: var(--white); background-color: var(--tromba-daria);}
.main-navigation .color-7:checked + label { color: var(--white); background-color: var(--sky);}
.secondary-navigation [type="checkbox"]:checked + label { color: var(--white); background-color: var(--black);}

.main-navigation .menu-toggle,
.secondary-navigation .menu-toggle {
  display: inline-block;
  font-family: 'Hershey-Noailles-futurab',sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: var(--black);
  margin: 10px 20px;
  padding: 0px 8px;
  background: transparent;
  border: none;
  outline: none;
}
.secondary-navigation .menu-toggle {
  content:'Weeks';
}

@media (min-width: 769px) {
  header#masthead { height: 0; }
  .secondary-navigation { width: 100%; }
  .main-navigation .primary-menu,
  .secondary-navigation .secondary-menu {
    list-style: none;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white);
    position: initial;
    opacity: 1;
  }
  .main-navigation .primary-menu:before,
  .secondary-navigation .secondary-menu:before {
    content:'Categories';
    font-family: 'Hershey-Noailles-futurab',sans-serif;
    font-size: 17px;
    line-height: 26px;
    color: var(--black);
    display: inline-block;
    margin: 15px 5px 10px 5px;
    padding: 0px 8px;
  }
  .main-navigation label,
  .secondary-navigation label {
    margin: 15px 3px 10px 3px;
  }
  .main-navigation .menu-toggle,
  .secondary-navigation .menu-toggle {
    display: none;
  }
  .secondary-navigation .secondary-menu:before {
    content:'Weeks';
  }
  .main-navigation .primary-menu ul,
  .secondary-navigation .secondary-menu ul {
    width: 100%;
    display: flex;
  }
  .secondary-navigation .secondary-menu ul {
    max-width: 70vw;
    overflow: scroll;
  }
  .main-navigation .alignright {
    position: relative;
    right: 10px;
    top: 50px;
  }
  .secondary-navigation .alignright {
    position: relative;
    top: 0;
    width: auto;
    background-color: transparent;
  }
  footer.site-footer {
      position: initial;
      height: auto;
  }
  #clearAllFilters {
    bottom: 10px;
    cursor: no-drop;
  }
  .main-navigation .alignright a { cursor: help; }
  .main-navigation label,
  .secondary-navigation label { cursor: zoom-in; }
  .main-navigation :checked~label,
  .secondary-navigation :checked~label { cursor: zoom-out; }
  .secondary-navigation .inactive label { cursor: default; }

}
@media (min-width: 1280px) {
  .secondary-navigation .secondary-menu ul {
    max-width: 95vw;
    overflow: scroll;
  }
}
@media (min-width: 1440px) {
  .main-navigation label,
  .secondary-navigation label {
    margin: 15px 5px 10px 5px;
  }
}
.carousel-main .carousel-cell { margin: 0; }
.carousel-main .carousel-cell a {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  overflow: hidden;
  margin: 0;
  text-decoration: none;
  border-top-width: 3px;
  border-top-style: solid;
}
.carousel-main .entry-header {
  height: 25%;
  overflow: hidden;
  background: var(--white);
  color: var(--black);
  border: none;
  margin: 0;
  padding: 0 15px;
  font-family: 'Hershey-Noailles-timesb', serif;
  font-size: 12px;
  line-height: 16px;
  order: 2;
  flex: 1 1 100%;
}
.carousel-main .entry-date {
  flex: 1 0 100%;
  text-align: center;
  font-family: 'Hershey-Noailles-timesb', serif;
  font-size: 14px;
  line-height: 34px;
  color: var(--black);
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.glightbox-HAvenice .goverlay,
.glightbox-HAvenice-small .goverlay {
    background: rgba(255,255,255,.92);
}
.glightbox-HAvenice .gslide-external { 
  max-height: 100vh; /* Fallback for below */
  max-height: calc(var(--vh, 1vh) * 100);
  max-height: 100%;
}
.glightbox-HAvenice .gclose,
.glightbox-HAvenice-small .gclose {
  position: fixed;
  top: 0;
  right: -2px;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  flex-flow: column;
}
.glightbox-HAvenice-small .gclose {
  top: 10vh;
  right: 10vw;
  height: 50px;
}
.glightbox-HAvenice .gclose:before,
.glightbox-HAvenice-small .gclose:before {
  content: "close";
  font-size: 16px;
  font-family: 'Hershey-Noailles-futurab', sans-serif;
  display: inline-block;
  text-align: center;
}
.glightbox-HAvenice-small .gclose:before { color: var(--white) }
.glightbox-HAvenice .gclose svg,
.glightbox-HAvenice-small .gclose svg { display: none; }


/* home mobile: flickity carousel off */
.home main,
.error404 main { margin-top: 35px; }
.carousel-main:after { content: ''; display: none; }

.simpletextdiv {
  height: calc(100vh - 60px);
  height: calc((var(--vh, 1vh) * 100) - 60px);
}
.simpletextdiv-cell {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 5vw;
  text-align: center;
}
.simpletextdiv-cell a { color: var(--black); }


@media (min-width: 769px) {
  /* home desktop: flickity carousel on */ 
  .home main,
  .error404 main { margin-top: 0; }
  .carousel-main:after { content: 'flickity'; }

  .carousel-main .carousel-cell-image { opacity: 1 }
  .carousel-main { 
    height: calc(100vh - 60px);
    height: calc((var(--vh, 1vh) * 100) - 60px); /* real 100vh */
  }
  .carousel-main .carousel-cell {
    width: 50%;
    max-width: 50%;
    height: calc(100vh - 63px);
    margin: 0;
    counter-increment: carousel-cell;
    border-bottom: 3px solid var(--black);
    transition: width 0.4s, max-width 0.4s;
  }
  .carousel-main .carousel-cell:first-child:before {
    content: "...";
    font-family: 'Hershey-Noailles-futuram', sans-serif;
    position: absolute;
    bottom: -3px;
    left: 100%;
    width: 50%;
    height: auto;
    font-size: 72px;
    color: var(--black);
    border-bottom: 3px solid var(--grey);
    display: inline-block;
    padding-left: 15%;
  }
  .carousel-main .carousel-cell a {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 126px);
    overflow: hidden;
    margin: 60px 0 0 0;
    text-decoration: none;
    border-top-width: 3px;
    border-top-style: solid;
  }
  .carousel-main .entry-header {
    flex: 0 1 66%;
    height: 25%;
    order: initial;
    font-size: 12px;
    line-height: 16px;
  }
  .carousel-main .entry-excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .carousel-main .entry-date {
    flex: 0 0 auto;
    font-family: 'Hershey-Noailles-timesb', serif;
    font-size: 22px;
    line-height: 34px;
    color: var(--black);
    text-decoration: none;
    padding: 0;
    margin: 10px 0 0 30px;
  }
  .carousel-main .carousel-cell-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 25% - 120px);
    opacity: 1;
    transition: opacity 0.4s;
  }
  .carousel-cell-image.flickity-lazyloaded,
  .carousel-cell-image.flickity-lazyerror,
  .carousel-reloaded .carousel-cell-image  {
    opacity: 1;
  }
  .glightbox-HAvenice .gclose {
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .carousel-main .carousel-cell {
    width: 100%;
    max-width: 66%;
  }
}

/* single post / page */
.single-post article,
.page article {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.page .post-entry-header {
  background-color: var(--black);
  color: var(--white);
}
.post-entry-header {
  color: var(--white);
  border: none;
  margin: 0;
  padding: 0 15px;
  font-family: 'Hershey-Noailles-timesr', serif;
  position: sticky;
  top: 0px;
  z-index: 10;
  flex: 1 0 100%;
}
.post-entry-header .entry-title {
  font-size: 16px;
  line-height: 20px;
  padding-right: 80px;
  margin-top: 10px;
}
.single-post .carousel-post,
.page .carousel-post {
  flex: 1 0 100%;
  height: auto;
  margin-bottom: 30px;
}
.single-post .flickity-viewport,
.page .flickity-viewport  {
  transition: height 0.2s;
}
.single-post .carousel-cell,
.page .carousel-cell {
  margin: 0;
  padding: 0;
  width: 100%;
}
.single-post .carousel-cell img,
.page .carousel-cell img {
  width: 100%;
  height: auto;
  max-height: 66vh;
  display: inline-block;
  object-fit: contain;
}
.carousel-post #caption {
  font-size: 9px;
  margin: 0 10px;
  text-align: center;
}
.carousel-cell figcaption { display: none; }

.single-post .flickity-prev-next-button { top: calc(50% - 40px); }
.single-post .flickity-page-dots,
.page .flickity-page-dots {
  font-size: 10px;
  line-height: 16px;
  position: initial;
  margin: -10px 0 5px 0;
  padding-left: 20px;
  box-sizing: border-box;
  counter-reset: figs;
}
.single-post .flickity-page-dots .dot,
.page .flickity-page-dots .dot { 
  opacity: 1; 
  color: var(--grey);
  background:none;
  margin: 0 3px;
}
.single-post .flickity-page-dots .dot.is-selected,
.page .flickity-page-dots .dot.is-selected { 
  color: var(--black)
}
.single-post .flickity-page-dots li:first-child:before,
.page .flickity-page-dots li:first-child:before {
  content: 'Fig. ';
  color: var(--black);
  position: relative;
  top: 16px;
  left: -27px;
  font-size: 12px;
  display: inline-block;
}
.single-post .flickity-page-dots li:after,
.page .flickity-page-dots li:after {
  counter-increment: figs;
  content: counter(figs);
  display: inline-block;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.single-post .entry-content,
.page .entry-content {
  margin: 20px 5vw;
  font-size: 12px;
}
.entry-content pre.wp-block-preformatted {
  background: transparent;
  font-family: 'Hershey-Noailles-timesr', serif;
  font-size: 9px;
  white-space: pre-wrap;
  padding: 20px 0 0 0;
}
.extra_content p {
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  font-weight: 700;
}
.extra_content > p:first-child {
  -webkit-column-count: 2;
    -moz-column-count: 2;
      column-count: 2;
  -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
      column-gap: 20px;
  margin: 10px 5vw;
}
.extra_content pre {
  background: transparent;
  padding: 0;
  margin: 10px 5vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}
.extra_content pre img {
  flex: 0 0 33%;
  min-width: 75px;
  width: 33%;
  padding: 0 30px 0 0;
  box-sizing: border-box;
}

.related_links ul.relatedposts {
  list-style: none;
  margin: 10px 5vw;
  padding: 10px 0;
  font-size: 10px;
  line-height: 14px;
}
.related_links ul.relatedposts:before {
  content: 'This post relates to:';
  font-weight: 700;
  display: block;
  margin: 10px 0;
}
.related_links ul.relatedposts a {
  text-decoration: none;
}
.related_links ul.relatedposts a:before {
  content: "\2014\a0";
}


@media (min-width: 769px) {
  .post-entry-header {
    order: 0;
    flex: 1 0 100%;
    width: 100%;
    min-height: 50px;
  }
  .post-entry-header .entry-title {
    margin-top: 16px;
  }
  .single-post .carousel-post,
  .page .carousel-post {
    order: 2;
    flex: 0 0 50%;
    margin: 0;
    padding: 20px;
    position: sticky;
    top: 50px;
  }
  .single-post .carousel-cell img,
  .page .carousel-cell img {
    max-height: 66vh;
  }

  .flickity-prev-next-button { top: calc(100vh - 25% - 120px); }
  .flickity-prev-next-button.next { right: 30px; }
  .flickity-prev-next-button.previous { left: 30px; }

  .single-post .entry-content,
  .page .entry-content {
    order: 1;
    flex: 0 0 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
  }
  .single-post .entry-footer,
  .page .entry-footer {
    order: 3;
    flex: 1 0 50%;
    text-align: left;
    margin-left: 50%;
    padding: 0 20px;
    position: sticky;
    bottom: 0;
  }
  .related_links ul.relatedposts {
    margin: 10px 0;
  }
}

a.post-edit-link {
    font-size: 12px;
    line-height: 12px;
    font-family: 'Hershey-Noailles-futurab';
    text-decoration: none;
    margin: 20px;
    padding: 5px 5px;
    display: inline-block;
    background-color: #fff400a1;
    float: right;
}
