*.log
*.sql
php_errorlog
.DS_Store

wp-config.*
HA-content/advanced-cache.php
HA-content/backup-db/
HA-content/backups/
HA-content/blogs.dir/
HA-content/cache/
HA-content/dbs/
HA-content/languages/
HA-content/upgrade/
HA-content/uploads/
HA-content/wp-cache-config.php
HA-content/plugins/*

wordpress
dbs

/.htaccess
/sitemap.xml
/sitemap.xml.gz
