
/* SECTIONS COLOR VARS */
:root {
  --black: #000;
  --white: #fff;
  --scirocco: #ff0000;
  --acqua-alta: #d1ba01;
  --mose: #7f5de1;
  --fosgene: #45db51;
  --tromba-daria: #ff00ff;
  --sky: #0098ff;
}
.color-scirocco { color: var(--scirocco);}
.color-acqua-alta { color: var(--acqua-alta);}
.color-mose { color: var(--mose);}
.color-fosgene { color: var(--fosgene);}
.color-tromba-daria { color: var(--tromba-daria);}
.color-sky { color: var(--sky);}

.border-color-scirocco { border-color: var(--scirocco);}
.border-color-acqua-alta { border-color: var(--acqua-alta);}
.border-color-mose { border-color: var(--mose);}
.border-color-fosgene { border-color: var(--fosgene);}
.border-color-tromba-daria { border-color: var(--tromba-daria);}
.border-color-sky { border-color: var(--sky);}

.background-color-scirocco { background-color: var(--scirocco);}
.background-color-acqua-alta { background-color: var(--acqua-alta);}
.background-color-mose { background-color: var(--mose);}
.background-color-fosgene { background-color: var(--fosgene);}
.background-color-tromba-daria { background-color: var(--tromba-daria);}
.background-color-sky { background-color: var(--sky);}


/* header / primary menu */
header#masthead {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.main-navigation ul#primary-menu,
.secondary-navigation ul#secondary-menu {
    list-style: none;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
}
.main-navigation ul#primary-menu:before,
.secondary-navigation ul#secondary-menu:before {
  content:'Categories:';
  font-family: 'Hershey-Noailles-futurab',sans-serif;
  font-size: 17px;
  line-height: 26px;
  color: var(--black);
  display: inline-block;
  margin: 5px 5px 10px 5px;
  padding: 0px 8px;
}
.secondary-navigation ul#secondary-menu:before {
  content:'Steps:';
}
.main-navigation li,
.secondary-navigation li {
    flex: 0 1 auto;
    text-align: center;
}
.main-navigation li:last-child ,
.secondary-navigation li:last-child { 
  flex: 1 0 auto;
  text-align: right;
}
.main-navigation li:hover,
.secondary-navigation li:hover {
  background: rgba(255,255,255,1);
}
.main-navigation li a,
.secondary-navigation li a {
    font-family: 'Hershey-Noailles-futurab', sans-serif;
    font-size: 17px;
    line-height: 26px;
    color: inherit;
    display: inline-block;
    transition: color 0.5s, background 0.5s;
    margin: 5px 5px 10px 5px;
    padding: 0px 8px;
    box-shadow: 0 0 5px #0007;
}
.main-navigation .color-scirocco a:hover,
.main-navigation .color-scirocco.current-menu-item a { color: var(--white); background-color: var(--scirocco);}
.main-navigation .color-acqua-alta a:hover,
.main-navigation .color-acqua-alta.current-menu-item a { color: var(--white); background-color: var(--acqua-alta);}
.main-navigation .color-mose a:hover,
.main-navigation .color-mose.current-menu-item a { color: var(--white); background-color: var(--mose);}
.main-navigation .color-fosgene a:hover,
.main-navigation .color-fosgene.current-menu-item a { color: var(--white); background-color: var(--fosgene);}
.main-navigation .color-tromba-daria a:hover,
.main-navigation .color-tromba-daria.current-menu-item a { color: var(--white); background-color: var(--tromba-daria);}
.main-navigation .color-sky a:hover,
.main-navigation .color-sky.current-menu-item a { color: var(--white); background-color: var(--sky);}


/* home carousel */
.carousel-main { 
  height: calc(100vh - 60px);
  height: calc((var(--vh, 1vh) * 100) - 60px); /* real 100vh */
}
.carousel-cell {
  width: 66%;
  max-width: 66%;
  height: calc(100vh - 60px);
  height: calc((var(--vh, 1vh) * 100) - 60px); /* real 100vh */
  margin-right: 2px;
  counter-increment: carousel-cell;
  transition: width 0.4s, max-width 0.4s;
}

.carousel-cell a {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 50px);
    margin: 50px 0 0 0;
    text-decoration: none;
    border-top-width: 3px;
    border-top-style: solid;
}
.entry-header {
    flex: 0 1 calc(66%);
    height: 25%;
    overflow: hidden;
    background: var(--white);
    color: var(--black);
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Hershey-Noailles-timesb', serif;
    font-size: 14px;
    line-height: 20px;
}
.entry-date {
    flex: 0 0 auto;
    font-family: 'Hershey-Noailles-timesb', serif;
    font-size: 26px;
    line-height: 40px;
    color: var(--black);
    text-decoration: none;
    padding: 0;
    margin: 10px 0 0 30px;
}
.carousel-cell-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 25% - 110px);
    opacity: 0;
    transition: opacity 0.4s;
}
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}



@media (min-width: 1440px) {
  .carousel-cell {
    width: 100%;
    max-width: 66%;
  }
}