/* header / primary menu */
header#masthead {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.main-navigation ul#primary-menu {
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.main-navigation li {
    padding: 6px 10px;
    margin: 20px 8px;
    background: rgba(255,255,255,.75);
    opacity: .75;
    border-radius: 20px;
    font-size: 12px;
    transition: opacity 0.4s, background 0.4s;
}
.main-navigation li:hover {
  background: rgba(255,255,255,1);
  opacity: 1;
}
.main-navigation li a {
    font-size: 12px;
    color: #757575;
}

/* home carousel */
.carousel-main { height: calc(100vh - 75px); }
.carousel-cell {
  width: 90%;
  max-width: 90%;
  height: calc(100vh - 75px);
  margin-right: 2px;
  counter-increment: carousel-cell;
  transition: width 0.4s, max-width 0.4s;
}

.carousel-nav .carousel-cell {
  height: 75px;
  width: 75px;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  border: 3px solid #f54321;
}

.carousel-cell-image {
  position: relative;
  top: -75px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
  height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

figcaption.entry-header {
    position: absolute;
    bottom: 0;
    width: calc(100% + 2px);
    background: #fff;
    border: none;
    margin: 0 -1px;
    padding: 0 20px;
}
.entry-title {
  margin: 10px 0 20px 0;
  display: flex;
}
.entry-title a  {
  flex: 0 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
  color: #f54321;
  border-bottom: 1px dotted #f54321;
  line-height: 20px;
  text-decoration: none;
}


@media (min-width: 1440px) {
  .carousel-cell {
    width: 100%;
    max-width: 66%;
  }
}